h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 40px;
  background: #000;
  color: #fff;
  font-family: Consolas, monospace;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid red;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #ffbb00;
  text-decoration: none
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 21px;
}

@media (min-width: 1366px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

.yt-embed {
  width: 100%;
  aspect-ratio: 16 / 9;
  border: 0;
}
